*{
    margin: 10px;
}


form{
    width: 400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 15px;
}
.btn{
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 300px;
}

label{
    margin: 1px;
}